/Rotated_Full_Section1_x.txt
/Rotated_Full_Section1_y.txt
/Rotated_Full_Section1_z.txt
/circle_locations.txt
/Sorted_y_z_angel.csv
/Section1.las
/Section1_ascii.ply
/Section1_mesh.ply
/deneme_section1_part2_all sections_000000.txt
/3CS_4_area_cal_comp_w_aditya.txt
/3CS_4_area_cal_comp_w_aditya_2.txt
/3CS_4_area_cal_comp_w_aditya_3.las
/3CS_4_area_cal_comp_w_aditya_3.txt
/section1_part1_deneme.txt
